db_host=localhost
db_port=3306
db_user=root
db_password=password
db_database=mobilehybridlab
port=5314
user_pw_salt=GGOcOpgvNLxK2F4VvsP2

#dev=true
#admin_auth=3HJ2sFrjJroqjZZ-tFgM
#user_auth=qj02_dR39TAvcfH6KnJ6