db_host=localhost
db_port=3306
db_user=root
db_password=password
db_database=mobilehybridlab
port=5314

jwt_secret=m4_qYY7ZLz7dAKm8U-QLvOul
password_secret=GGOcOpgvNLxK2F4VvsP2

#dev=true
#admin_password=helloworld